.col-sm {
    font-family: 'Kalam', cursive;
    font-size:1.2em;
}

h2 {
    font-family:Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2em;
    text-decoration: underline;
}

h3 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
    background-color: rgb(116, 182, 213);
    padding: 40px;
}

footer {
    background-color: rgba(47, 220, 220, 0.874);
}

